<html>
  <head>
    <title>
      Subway
    </title>
  </head>
  <body>
    <div class="tudo">
      <div class="wrapper">

        <a class="logo">
          <img src="assets/img/subway.png">
        </a>

        <iframe class="video" width="75%" height="500" src="https://www.youtube.com/embed/rUUR1zv8FdA?controls=0"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <a href="https://www.ubereats.com/br/brasilia/food-delivery/subway-riacho-fundo/w9mYoMPATOObAxnrM2CRHg"
           class="botao">
          <p class="texto-1">Fazer pedido</p>
          <p class="texto-2">Retire Grátis na Loja</p>
        </a>
          <a href="https://www.ubereats.com/br/brasilia/food-delivery/subway-riacho-fundo/w9mYoMPATOObAxnrM2CRHg" class="botao">
          <p class="texto-1">Pedir com Uber Eates</p>
          <p class="texto-2">Retire em casa</p>
        </a>
        <a href= "https://www.subway.com/pt-BR/MenuNutrition/Menu/All" class="botao">
          <p class="texto-1">Ver cardápio</p>
          <p class="texto-2">Tabela nutricional</p>
        </a>

        <p class="texto-baixo" style="text-align: center;">Estamos abertos todos os dias das 8 às 23hs.
          Faça seu pedido online e retire no balcão sem pagar taxa de entrega.</p>

      </div>
    </div>
  </body>
</html>
