<html>
  <head>
    <title>
      Subway
    </title>

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="app.component.css">
  </head>
  <body>
    <div class="tudo">
      <div class="wrapper">

          <img class="logo" src="assets/img/subway.png">

        <iframe class="video" width="75%" height="500" src="https://www.youtube.com/embed/rUUR1zv8FdA?controls=0"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media;
                gyroscope; picture-in-picture" allowfullscreen> </iframe>
        <a href="https://api.whatsapp.com/send?phone=556196917706&text=Quero%20fazer%20um%20pedido"
           class="botao">
          <p class="texto-1">Fazer pedido</p>
          <p class="texto-2">Retire Grátis na Loja</p>
        </a>
          <a href="https://www.ubereats.com/br/brasilia/food-delivery/subway-riacho-fundo/w9mYoMPATOObAxnrM2CRHg" class="botao">
          <p class="texto-1">Pedir com Uber Eats</p>
          <p class="texto-2">Retire em casa</p>
        </a>
        <a href= "https://www.subway.com/pt-BR/MenuNutrition/Menu/All" class="botao">
          <p class="texto-1">Ver cardápio</p>
          <p class="texto-2">Tabela nutricional</p>
        </a>

        <p class="texto-baixo" style="text-align: center;">Estamos abertos todos os dias das 8 às 23hs.
          Faça seu pedido online e retire no balcão sem pagar taxa de entrega.</p>

        <a href="https://mix7.com.br" class="texto-baixo2">Desenvolvido por Mix7</a>
      </div>
    </div>
  </body>
</html>
