
.wrapper{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: right;
  width: auto;
  min-height: 500px;
  height: auto;
  flex-wrap: wrap;
}

.texto-1{
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  color: white;
  font-size: 49pt;
  width: 100%;
  margin-bottom: 0%;
  text-align: center;
}

.texto-2{
  font-family: myriad-pro, sans-serif;
  font-style: normal;
  font-weight: 100;
  color: white;
  margin-top: 0%;
  font-size: 43pt;
}

.video{
  border: 25px solid orange;
}

.botao{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100px;
  width: 81%;
  text-decoration: none;
  background-color: #008938;
  margin: 20px;
  margin-bottom: 5px;
}

.texto-baixo{
  font-family: "Myriad Pro", Sans-serif, serif;
  color: #f2b700;
  font-size: 180%;
  margin-bottom: 10px;
}

.texto-baixo2{
  font-family: "Open Sans", Sans-serif, serif;
  color: #f2b700;
  font-size: 148%;
  width: 30%;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}

.logo{
  margin: 1%;
}
